<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.securefileaccess">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/secure_file"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/secure_file"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecureFileAccess"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".activity.ReportActivity"
            android:singleUser="true" />
        <activity android:name=".activity.LogsActivity" />
        <activity android:name=".activity.ViewFilesDetails"
            android:label="File Details"/>
        <activity android:name=".activity.ViewFilesByDirectory"
            android:label="View Files"/>
        <activity android:name=".activity.UserActivity"
            android:label="All User"/>
        <activity android:name=".activity.AddUserActivity" />
        <activity android:name=".activity.UploadFileActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity
            android:name=".activity.DashboardActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="DASHBOARD"/>
        <activity
            android:name=".activity.LoginActivity"
            android:singleUser="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>